In [1]:
import pandas as pd

### Grouping information

In [101]:
hr_data = pd.read_csv('../data-science-complete-tutorial/Data/HR_comma_sep.csv.txt')

In [4]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [5]:
hr_data.rename(columns={'sales':'dept'}, inplace=True)

In [7]:
hr_data.left.unique()

array([1, 0])

In [9]:
gdf = hr_data.groupby(['left'])

In [11]:
gdf.satisfaction_level.mean()

left
0    0.666810
1    0.440098
Name: satisfaction_level, dtype: float64

### Find out mean of average_montly_hours of people in different salary bracket

In [13]:
hr_data.groupby(['salary']).average_montly_hours.mean()

salary
high      199.867421
low       200.996583
medium    201.338349
Name: average_montly_hours, dtype: float64

### Find satisfaction level across different department & salary bracket

In [16]:
hr_data.groupby(['dept','salary']).satisfaction_level.mean().sort_values(ascending=False)

dept         salary
hr           high      0.673111
support      high      0.655035
management   high      0.653333
sales        high      0.648959
support      medium    0.645149
marketing    medium    0.638218
IT           high      0.638193
technical    high      0.625970
sales        medium    0.625327
IT           medium    0.624187
RandD        low       0.623929
technical    medium    0.620968
product_mng  low       0.620909
RandD        medium    0.620349
product_mng  medium    0.619112
             high      0.614118
accounting   high      0.614054
management   low       0.610722
IT           low       0.610099
hr           low       0.608657
marketing    high      0.605250
             low       0.602910
sales        low       0.600838
management   medium    0.597867
technical    low       0.594322
support      low       0.591710
RandD        high      0.586667
accounting   medium    0.583642
hr           medium    0.580306
accounting   low       0.574162
Name: satisfaction_level, dtype: float64

### Socio-economic data

In [17]:
gap_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/gapminder-FiveYearData.csv')

In [18]:
gap_data.sample(10)

                country  year         pop continent  lifeExp     gdpPercap
1090        Netherlands  2002  16122830.0    Europe   78.530  33724.757780
574             Germany  2002  82350671.0    Europe   78.670  30035.801980
1201               Peru  1957   9146100.0  Americas   46.263   4245.256698
767              Israel  2007   6426679.0      Asia   80.745  25523.277100
915          Madagascar  1967   6334556.0    Africa   42.881   1634.047282
483   Equatorial Guinea  1967    259864.0    Africa   38.987    915.596003
1186             Panama  2002   2990875.0  Americas   74.712   7356.031934
914          Madagascar  1962   5703324.0    Africa   40.848   1643.387110
1403            Somalia  2007   9118773.0    Africa   48.159    926.141068
1227             Poland  1967  31785378.0    Europe   69.610   6557.152776

### Find total population of each continent

In [21]:
gap_data.groupby(['continent']).pop.sum().sort_values(ascending=False)

continent
Asia        3.050733e+10
Americas    7.351438e+09
Africa      6.187586e+09
Europe      6.181115e+09
Oceania     2.129921e+08
Name: pop, dtype: float64

### Get Across continent Per Year gdppercapita
* To calculate percapgdp of each continent we have to do the following
  - Calculate total capital of the continent
  - Calculate total population of the continent
  - Div first by second

In [24]:
gap_data['totalcap'] = gap_data['pop'] * gap_data.gdpPercap

In [28]:
total_cont_cap = gap_data.groupby(['continent','year']).totalcap.sum()

In [34]:
total_cont_pop = gap_data.groupby(['continent','year']).pop.sum()

In [36]:
df1 = pd.DataFrame(total_cont_cap)

In [37]:
df2 = pd.DataFrame(total_cont_pop)

In [41]:
res = pd.concat([df1,df2],axis=1)

In [43]:
res['percapgdpcont'] = res['totalcap']/res['pop']

In [44]:
res

                    totalcap           pop  percapgdpcont
continent year
Africa    1952  3.115993e+11  2.376405e+08    1311.221439
          1957  3.826778e+11  2.648377e+08    1444.951993
          1962  4.568136e+11  2.965169e+08    1540.599054
          1967  5.950877e+11  3.352895e+08    1774.847446
          1972  7.837566e+11  3.798795e+08    2063.171343
          1977  9.721347e+11  4.330610e+08    2244.798509
          1982  1.146101e+12  4.993486e+08    2295.191944
          1987  1.253578e+12  5.748341e+08    2180.764349
          1992  1.365363e+12  6.590815e+08    2071.614521
          1997  1.561205e+12  7.438330e+08    2098.865031
          2002  1.835783e+12  8.337239e+08    2201.907081
          2007  2.380486e+12  9.295397e+08    2560.929570
Americas  1952  2.943475e+12  3.451524e+08    8528.043082
          1957  3.520427e+12  3.869539e+08    9097.792750
          1962  4.228827e+12  4.332703e+08    9760.251707
          1967  5.446688e+12  4.807466e+08   11329.644371
          1972  6.703979e+12  5.293842e+08   12663.731452
          1977  8.102135e+12  5.780677e+08   14015.892498
          1982  9.082850e+12  6.302909e+08   14410.568073
          1987  1.098619e+13  6.827540e+08   16091.000896
          1992  1.224750e+13  7.392741e+08   16566.920780
          1997  1.456733e+13  7.969004e+08   18279.991447
          2002  1.653122e+13  8.497728e+08   19453.689651
          2007  1.941809e+13  8.988712e+08   21602.745752
Asia      1952  1.125160e+12  1.395357e+09     806.359866
          1957  1.559825e+12  1.562781e+09     998.108922
          1962  1.984517e+12  1.696357e+09    1169.869588
          1967  2.793401e+12  1.905663e+09    1465.842219
          1972  4.104730e+12  2.150972e+09    1908.313631
          1977  5.273485e+12  2.384514e+09    2211.556090
          1982  6.416159e+12  2.610136e+09    2458.170637
          1987  7.978897e+12  2.871221e+09    2778.921529
          1992  1.013432e+13  3.133292e+09    3234.398773
          1997  1.279072e+13  3.383286e+09    3780.562600
          2002  1.511540e+13  3.601802e+09    4196.620537
          2007  2.070795e+13  3.811954e+09    5432.371665
Europe    1952  2.549140e+12  4.181208e+08    6096.659060
          1957  3.299685e+12  4.378904e+08    7535.414166
          1962  4.169541e+12  4.603552e+08    9057.226247
          1967  5.200999e+12  4.811790e+08   10808.866738
          1972  6.560744e+12  5.006351e+08   13104.843067
          1977  7.661026e+12  5.171645e+08   14813.517173
          1982  8.384522e+12  5.312669e+08   15782.128148
          1987  9.495224e+12  5.430942e+08   17483.568975
          1992  1.028110e+13  5.581428e+08   18420.191889
          1997  1.150821e+13  5.689441e+08   20227.307119
          2002  1.309346e+13  5.782239e+08   22644.282180
          2007  1.479550e+13  5.860985e+08   25244.047885
Oceania   1952  1.083144e+11  1.068601e+07   10136.102103
          1957  1.336537e+11  1.194198e+07   11191.921339
          1962  1.646729e+11  1.328352e+07   12396.784232
          1967  2.119177e+11  1.460041e+07   14514.501244
          1972  2.682242e+11  1.610610e+07   16653.579604
          1977  3.094154e+11  1.723900e+07   17948.571398
          1982  3.523543e+11  1.839485e+07   19155.051700
          1987  4.189031e+11  1.957442e+07   21400.543924
          1992  4.726384e+11  2.091965e+07   22593.032726
          1997  5.786085e+11  2.224143e+07   26014.896990
          2002  6.904738e+11  2.345483e+07   29438.447850
          2007  8.073141e+11  2.454995e+07   32884.555271

### Stacking & Unstacking
* Stacking - Columns are getting converted into index

In [46]:
import numpy as np
index = pd.MultiIndex.from_product([[2013, 2014], ['yes','no']],
                                   names=['year', 'death'])
columns = pd.MultiIndex.from_product([['Mumbai', 'Delhi', 'Bangalore'], 
                                      ['two-wheeler', 'four-wheeler']],
                                     names=['city', 'type'])


data = np.random.randint(1,100,(4,6))

accident_data = pd.DataFrame(data, index=index, columns=columns)
accident_data

city            Mumbai                    Delhi                Bangalore  \
type       two-wheeler four-wheeler two-wheeler four-wheeler two-wheeler
year death
2013 yes            74           40          73           40          22
     no             42           48          30           82           1
2014 yes            35           14          56           79           2
     no             20           65          78           33          71

city
type       four-wheeler
year death
2013 yes             21
     no              85
2014 yes             32
     no               3

In [48]:
accident_data.columns

MultiIndex([(   'Mumbai',  'two-wheeler'),
            (   'Mumbai', 'four-wheeler'),
            (    'Delhi',  'two-wheeler'),
            (    'Delhi', 'four-wheeler'),
            ('Bangalore',  'two-wheeler'),
            ('Bangalore', 'four-wheeler')],
           names=['city', 'type'])

In [49]:
accident_data.index

MultiIndex([(2013, 'yes'),
            (2013,  'no'),
            (2014, 'yes'),
            (2014,  'no')],
           names=['year', 'death'])

In [51]:
accident_data.stack()

city                     Bangalore  Delhi  Mumbai
year death type
2013 yes   four-wheeler         21     40      40
           two-wheeler          22     73      74
     no    four-wheeler         85     82      48
           two-wheeler           1     30      42
2014 yes   four-wheeler         32     79      14
           two-wheeler           2     56      35
     no    four-wheeler          3     33      65
           two-wheeler          71     78      20

In [52]:
accident_data.unstack()

city       Mumbai                            Delhi                       \
type  two-wheeler     four-wheeler     two-wheeler     four-wheeler
death          no yes           no yes          no yes           no yes
year
2013           42  74           48  40          30  73           82  40
2014           20  35           65  14          78  56           33  79

city    Bangalore
type  two-wheeler     four-wheeler
death          no yes           no yes
year
2013            1  22           85  21
2014           71   2            3  32

In [55]:
res.stack()

continent  year
Africa     1952  totalcap         3.115993e+11
                 pop              2.376405e+08
                 percapgdpcont    1.311221e+03
           1957  totalcap         3.826778e+11
                 pop              2.648377e+08
                                      ...
Oceania    2002  pop              2.345483e+07
                 percapgdpcont    2.943845e+04
           2007  totalcap         8.073141e+11
                 pop              2.454995e+07
                 percapgdpcont    3.288456e+04
Length: 180, dtype: float64

### Pivot Table

In [57]:
gap_data.sample(10)

,country,year,pop,continent,lifeExp,gdpPercap,totalcap
1459,Swaziland,1987,779348.0,Africa,57.678,3984.839812,3.105577e+09
444,Ecuador,1952,3548753.0,Americas,48.357,3522.110717,1.249910e+10
483,Equatorial Guinea,1967,259864.0,Africa,38.987,915.596003,2.379304e+08
286,Chile,2002,15497046.0,Americas,77.860,10778.783850,1.670393e+11
524,Finland,1992,5041039.0,Europe,75.700,20647.164990,1.040832e+11
935,Malawi,2007,13327079.0,Africa,48.303,759.349910,1.011992e+10
57,Argentina,1997,36203463.0,Americas,73.275,10967.281950,3.970536e+11
1687,Zambia,1987,7272406.0,Africa,50.821,1213.315116,8.823720e+09
508,Ethiopia,1972,30770372.0,Africa,43.515,566.243944,1.742354e+10
993,Mexico,1997,95895146.0,Americas,73.670,9767.297530,9.366364e+11

In [59]:
gap_data.pivot_table(index='country',columns='year',values='pop').sample(10)

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Zambia,2672000.0,3016000.0,3421000.0,3900000.0,4506497.0,5216550.0,6100407.0,7272406.0,8381163.0,9417789.0,10595811.0,11746035.0
Serbia,6860147.0,7271135.0,7616060.0,7971222.0,8313288.0,8686367.0,9032824.0,9230783.0,9826397.0,10336594.0,10111559.0,10150265.0
Uruguay,2252965.0,2424959.0,2598466.0,2748579.0,2829526.0,2873520.0,2953997.0,3045153.0,3149262.0,3262838.0,3363085.0,3447496.0
Taiwan,8550362.0,10164215.0,11918938.0,13648692.0,15226039.0,16785196.0,18501390.0,19757799.0,20686918.0,21628605.0,22454239.0,23174294.0
Togo,1219113.0,1357445.0,1528098.0,1735550.0,2056351.0,2308582.0,2644765.0,3154264.0,3747553.0,4320890.0,4977378.0,5701579.0
Greece,7733250.0,8096218.0,8448233.0,8716441.0,8888628.0,9308479.0,9786480.0,9974490.0,10325429.0,10502372.0,10603863.0,10706290.0
Botswana,442308.0,474639.0,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347.0,1639131.0
Canada,14785584.0,17010154.0,18985849.0,20819767.0,22284500.0,23796400.0,25201900.0,26549700.0,28523502.0,30305843.0,31902268.0,33390141.0
Myanmar,20092996.0,21731844.0,23634436.0,25870271.0,28466390.0,31528087.0,34680442.0,38028578.0,40546538.0,43247867.0,45598081.0,47761980.0
Cameroon,5009067.0,5359923.0,5793633.0,6335506.0,7021028.0,7959865.0,9250831.0,10780667.0,12467171.0,14195809.0,15929988.0,17696293.0

In [63]:
gap_data.pivot_table(index='continent',columns='year',values='pop', aggfunc=np.median)

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
continent,,,,,,,,,,,,
Africa,2668124.5,2885790.5,3145210.0,3473692.5,3945594.5,4522666.0,5668228.5,6635611.5,7140388.5,7805422.5,8821778.5,10093310.5
Americas,3146381.0,3507701.0,3880130.0,4318137.0,4698301.0,5302800.0,5968349.0,6655297.0,7351181.0,7992357.0,8650322.0,9319622.0
Asia,7982342.0,9128546.0,10267083.0,11261690.0,12412593.0,13933198.0,14441916.0,16495304.0,17861905.0,21229759.0,22662365.0,24821286.0
Europe,7199786.5,7507528.0,7814503.0,8140724.0,8444744.0,8741694.5,8962461.0,9101370.5,9272632.0,9527017.0,9518744.0,9493598.0
Oceania,5343003.0,5970988.0,6641759.0,7300207.0,8053050.0,8619500.0,9197425.0,9787207.5,10459825.5,11120715.0,11727414.5,12274973.5

### Pivot Table for country & year for lifeexp

In [64]:
gap_data.pivot_table(index='country',columns='year',values='lifeExp')

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Afghanistan,28.801,30.33200,31.99700,34.02000,36.08800,38.43800,39.854,40.822,41.674,41.763,42.129,43.828
Albania,55.230,59.28000,64.82000,66.22000,67.69000,68.93000,70.420,72.000,71.581,72.950,75.651,76.423
Algeria,43.077,45.68500,48.30300,51.40700,54.51800,58.01400,61.368,65.799,67.744,69.152,70.994,72.301
Angola,30.015,31.99900,34.00000,35.98500,37.92800,39.48300,39.942,39.906,40.647,40.963,41.003,42.731
Argentina,62.485,64.39900,65.14200,65.63400,67.06500,68.48100,69.942,70.774,71.868,73.275,74.340,75.320
Australia,69.120,70.33000,70.93000,71.10000,71.93000,73.49000,74.740,76.320,77.560,78.830,80.370,81.235
Austria,66.800,67.48000,69.54000,70.14000,70.63000,72.17000,73.180,74.940,76.040,77.510,78.980,79.829
Bahrain,50.939,53.83200,56.92300,59.92300,63.30000,65.59300,69.052,70.750,72.601,73.925,74.795,75.635
Bangladesh,37.484,39.34800,41.21600,43.45300,45.25200,46.92300,50.009,52.819,56.018,59.412,62.013,64.062
Belgium,68.000,69.24000,70.25000,70.94000,71.44000,72.80000,73.930,75.350,76.460,77.530,78.320,79.441
Benin,38.223,40.35800,42.61800,44.88500,47.01400,49.19000,50.904,52.337,53.919,54.777,54.406,56.728
Bolivia,40.414,41.89000,43.42800,45.03200,46.71400,50.02300,53.859,57.251,59.957,62.050,63.883,65.554
Bosnia and Herzegovina,53.820,58.45000,61.93000,64.79000,67.45000,69.86000,70.690,71.140,72.178,73.244,74.090,74.852
Botswana,47.622,49.61800,51.52000,53.29800,56.02400,59.31900,61.484,63.622,62.745,52.556,46.634,50.728
Brazil,50.917,53.28500,55.66500,57.63200,59.50400,61.48900,63.336,65.205,67.057,69.388,71.006,72.390
Bulgaria,59.600,66.61000,69.51000,70.42000,70.90000,70.81000,71.080,71.340,71.190,70.320,72.140,73.005
Burkina Faso,31.975,34.90600,37.81400,40.69700,43.59100,46.13700,48.122,49.557,50.260,50.324,50.650,52.295
Burundi,39.031,40.53300,42.04500,43.54800,44.05700,45.91000,47.471,48.211,44.736,45.326,47.360,49.580
Cambodia,39.417,41.36600,43.41500,45.41500,40.31700,31.22000,50.957,53.914,55.803,56.534,56.752,59.723
Cameroon,38.523,40.42800,42.64300,44.79900,47.04900,49.35500,52.961,54.985,54.314,52.199,49.856,50.430
Canada,68.750,69.96000,71.30000,72.13000,72.88000,74.21000,75.760,76.860,77.950,78.610,79.770,80.653
Central African Republic,35.463,37.46400,39.47500,41.47800,43.45700,46.77500,48.295,50.485,49.396,46.066,43.308,44.741
Chad,38.092,39.88100,41.71600,43.60100,45.56900,47.38300,49.517,51.051,51.724,51.573,50.525,50.651
Chile,54.745,56.07400,57.92400,60.52300,63.44100,67.05200,70.565,72.492,74.126,75.816,77.860,78.553
China,44.000,50.54896,44.50136,58.38112,63.11888,63.96736,65.525,67.274,68.690,70.426,72.028,72.961
Colombia,50.643,55.11800,57.86300,59.96300,61.62300,63.83700,66.653,67.768,68.421,70.313,71.682,72.889
Comoros,40.715,42.46000,44.46700,46.47200,48.94400,50.93900,52.933,54.926,57.939,60.660,62.974,65.152
Congo Dem. Rep.,39.143,40.65200,42.12200,44.05600,45.98900,47.80400,47.784,47.412,45.548,42.587,44.966,46.462
Congo Rep.,42.111,45.05300,48.43500,52.04000,54.90700,55.62500,56.695,57.470,56.433,52.962,52.970,55.322
Costa Rica,57.206,60.02600,62.84200,65.42400,67.84900,70.75000,73.450,74.752,75.713,77.260,78.123,78.782
...,...,...,...,...,...,...,...,...,...,...,...,...
Sierra Leone,30.331,31.57000,32.76700,34.11300,35.40000,36.78800,38.445,40.006,38.333,39.897,41.012,42.568
Singapore,60.396,63.17900,65.79800,67.94600,69.52100,70.79500,71.760,73.560,75.788,77.158,78.770,79.972
Slovak Republic,64.360,67.45000,70.33000,70.98000,70.35000,70.45000,70.800,71.080,71.380,72.710,73.800,74.663
Slovenia,65.570,67.85000,69.15000,69.18000,69.82000,70.97000,71.063,72.250,73.640,75.130,76.660,77.926
Somalia,32.978,34.97700,36.98100,38.97700,40.97300,41.97400,42.955,44.501,39.658,43.795,45.936,48.159
South Africa,45.009,47.98500,49.95100,51.92700,53.69600,55.52700,58.161,60.834,61.888,60.236,53.365,49.339
Spain,64.940,66.66000,69.69000,71.44000,73.06000,74.39000,76.300,76.900,77.570,78.770,79.780,80.941
Sri Lanka,57.593,61.45600,62.19200,64.26600,65.04200,65.94900,68.757,69.011,70.379,70.457,70.815,72.396
Sudan,38.635,39.62400,40.87000,42.85800,45.08300,47.80000,50.338,51.744,53.556,55.373,56.369,58.556
Swaziland,41.407,43.42400,44.99200,46.63300,49.55200,52.53700,55.561,57.678,58.474,54.289,43.869,39.613
Sweden,71.860,72.49000,73.37000,74.16000,74.72000,75.44000,76.420,77.190,78.160,79.390,80.040,80.884
Switzerland,69.620,70.56000,71.32000,72.77000,73.78000,75.39000,76.210,77.410,78.030,79.370,80.620,81.701
Syria,45.883,48.28400,50.30500,53.65500,57.29600,61.19500,64.590,66.974,69.249,71.527,73.053,74.143
Taiwan,58.500,62.40000,65.20000,67.50000,69.39000,70.59000,72.160,73.400,74.260,75.250,76.990,78.400
Tanzania,41.215,42.97400,44.24600,45.75700,47.62000,49.91900,50.608,51.535,50.440,48.466,49.651,52.517
Thailand,50.848,53.63000,56.06100,58.28500,60.40500,62.49400,64.597,66.084,67.298,67.521,68.564,70.616
Togo,38.596,41.20800,43.92200,46.76900,49.75900,52.88700,55.471,56.941,58.061,58.390,57.561,58.420
Trinidad and Tobago,59.100,61.80000,64.90000,65.40000,65.90000,68.30000,68.832,69.582,69.862,69.465,68.976,69.819
Tunisia,44.600,47.10000,49.57900,52.05300,55.60200,59.83700,64.048,66.894,70.001,71.973,73.042,73.923
Turkey,43.585,48.07900,52.09800,54.33600,57.00500,59.50700,61.036,63.108,66.146,68.835,70.845,71.777
Uganda,39.978,42.57100,45.34400,48.05100,51.01600,50.35000,49.849,51.509,48.825,44.578,47.813,51.542
United Kingdom,69.180,70.42000,70.76000,71.36000,72.01000,72.76000,74.040,75.007,76.420,77.218,78.471,79.425
United States,68.440,69.49000,70.21000,70.76000,71.34000,73.38000,74.650,75.020,76.090,76.810,77.310,78.242
Uruguay,66.071,67.04400,68.25300,68.46800,68.67300,69.48100,70.805,71.918,72.752,74.223,75.307,76.384
Venezuela,55.088,57.90700,60.77000,63.47900,65.71200,67.45600,68.557,70.190,71.150,72.146,72.766,73.747
Vietnam,40.412,42.88700,45.36300,47.83800,50.25400,55.76400,58.816,62.820,67.662,70.672,73.017,74.249
West Bank and Gaza,43.160,45.67100,48.12700,51.63100,56.53200,60.76500,64.406,67.046,69.718,71.096,72.370,73.422
Yemen Rep.,32.548,33.97000,35.18000,36.98400,39.84800,44.17500,49.113,52.922,55.599,58.020,60.308,62.698
Zambia,42.038,44.07700,46.02300,47.76800,50.10700,51.38600,51.821,50.821,46.100,40.238,39.193,42.384
Zimbabwe,48.451,50.46900,52.35800,53.99500,55.63500,57.67400,60.363,62.351,60.377,46.809,39.989,43.487

### Pivot table for department & number_project for satisfaction_level

In [67]:
hr_data.pivot_table(index='dept' ,columns='number_project',values='satisfaction_level', aggfunc=np.mean )

number_project         2         3         4         5         6         7
dept
IT              0.485659  0.689625  0.714323  0.665042  0.251579  0.102500
RandD           0.480920  0.672308  0.687689  0.641043  0.372885  0.099231
accounting      0.454444  0.653819  0.684434  0.640643  0.246515  0.128000
hr              0.432429  0.708981  0.681757  0.685957  0.216481  0.101538
management      0.516962  0.676550  0.673623  0.673983  0.334286  0.146923
marketing       0.483636  0.696883  0.696853  0.680786  0.243725  0.100000
product_mng     0.489195  0.680596  0.687939  0.694142  0.379577  0.098750
sales           0.481116  0.696972  0.695983  0.676993  0.288505  0.107313
support         0.480600  0.691275  0.704062  0.684827  0.235690  0.107692
technical       0.479926  0.679533  0.694418  0.699786  0.253024  0.152241

### Time Series

In [72]:
churn_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/churn.csv.txt', parse_dates=['last_trip_date','signup_date'])

In [73]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null datetime64[ns]
phone                     49604 non-null object
signup_date               50000 non-null datetime64[ns]
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
luxury_car_user           50000 non-null bool
weekday_pct               50000 non-null float64
dtypes: bool(1), datetime64[ns](2), float64(6), int64(1), object(2)
memory usage: 4.2+ MB

In [77]:
churn_data.set_index('signup_date', inplace=True)

In [81]:
churn_data['2014-01-25':'2014-01-27']

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
signup_date,,,,,,,,,,,
2014-01-25,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,15.4,4,True,46.2
2014-01-27,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,11.8,14,False,82.4
2014-01-27,26.01,5.0,NaN,1.00,Astapor,2014-01-28,Android,0.0,1,False,100.0
2014-01-27,11.25,5.0,4.0,1.00,Astapor,2014-02-27,Android,0.0,1,False,100.0
2014-01-26,6.12,4.8,5.0,1.00,Astapor,2014-02-07,iPhone,0.0,4,True,25.0
2014-01-25,11.86,5.0,4.9,1.00,Winterfell,2014-06-14,iPhone,0.0,1,False,40.0
2014-01-27,4.48,5.0,NaN,1.00,Winterfell,2014-02-28,iPhone,0.0,1,True,100.0
2014-01-25,5.72,5.0,4.0,1.50,Winterfell,2014-01-26,Android,100.0,1,False,0.0
2014-01-25,6.05,4.5,5.0,1.25,Astapor,2014-03-29,iPhone,100.0,1,False,0.0
2014-01-26,2.47,5.0,4.8,1.00,Astapor,2014-01-30,iPhone,0.0,5,False,100.0
2014-01-25,17.89,4.0,4.0,3.50,Winterfell,2014-02-05,Android,100.0,1,True,100.0
2014-01-27,2.42,4.8,5.0,1.00,Winterfell,2014-04-28,iPhone,0.0,4,False,100.0
2014-01-26,4.89,4.6,4.1,1.00,Winterfell,2014-07-01,iPhone,1.9,11,True,76.9
2014-01-27,2.86,4.9,4.9,1.00,Astapor,2014-03-05,Android,0.0,73,True,89.7
2014-01-25,5.25,5.0,5.0,1.00,Astapor,2014-06-11,iPhone,0.0,2,True,50.0
2014-01-25,1.78,5.0,5.0,1.00,Astapor,2014-04-03,Android,0.0,0,True,33.3
2014-01-26,2.81,4.3,4.8,1.30,Astapor,2014-04-20,iPhone,20.0,0,False,20.0
2014-01-25,2.64,5.0,5.0,1.00,King's Landing,2014-06-06,iPhone,0.0,0,True,100.0
2014-01-26,3.57,4.8,4.5,1.10,King's Landing,2014-06-25,iPhone,10.0,1,True,10.0
2014-01-25,5.44,4.6,3.7,1.09,Winterfell,2014-07-01,iPhone,3.8,7,False,57.7
2014-01-26,3.18,5.0,4.0,1.00,Winterfell,2014-01-27,Android,0.0,1,False,100.0
2014-01-25,1.75,5.0,4.5,1.00,Astapor,2014-04-06,Android,0.0,3,True,0.0
2014-01-25,4.42,4.5,4.5,1.00,Winterfell,2014-06-25,iPhone,0.0,3,True,20.0
2014-01-27,8.00,4.8,4.0,1.00,Winterfell,2014-06-11,iPhone,0.0,3,True,62.5
2014-01-26,1.38,4.0,5.0,2.00,Winterfell,2014-03-03,iPhone,50.0,1,False,0.0
2014-01-27,2.50,4.5,4.6,1.00,Winterfell,2014-05-20,iPhone,0.0,2,False,57.1
2014-01-25,10.61,5.0,4.3,1.13,Winterfell,2014-05-18,Android,25.0,1,True,25.0
2014-01-25,2.69,4.7,5.0,1.04,King's Landing,2014-06-30,iPhone,4.9,2,False,46.3
2014-01-26,1.53,4.8,5.0,1.09,King's Landing,2014-06-28,iPhone,18.2,6,False,45.5
2014-01-26,16.19,4.3,5.0,1.00,Astapor,2014-06-21,iPhone,0.0,2,False,33.3
...,...,...,...,...,...,...,...,...,...,...,...
2014-01-27,2.30,5.0,4.5,1.00,King's Landing,2014-05-31,Android,0.0,0,False,50.0
2014-01-25,1.92,4.7,4.2,1.10,King's Landing,2014-06-19,iPhone,16.7,3,False,66.7
2014-01-27,14.72,5.0,4.5,1.00,Astapor,2014-01-30,iPhone,0.0,2,False,100.0
2014-01-25,5.82,5.0,5.0,1.00,Astapor,2014-03-10,NaN,0.0,0,True,50.0
2014-01-25,5.72,4.0,NaN,1.00,Winterfell,2014-01-26,iPhone,0.0,1,False,0.0
2014-01-25,2.18,4.6,4.2,1.21,Astapor,2014-06-29,iPhone,16.7,2,True,50.0
2014-01-25,13.00,5.0,5.0,1.00,Winterfell,2014-03-17,iPhone,0.0,0,False,100.0
2014-01-25,2.63,4.5,4.0,1.00,Astapor,2014-01-27,iPhone,0.0,4,False,0.0
2014-01-26,2.62,5.0,NaN,1.00,Astapor,2014-06-26,iPhone,0.0,0,True,100.0
2014-01-26,11.93,5.0,4.5,1.00,Astapor,2014-04-10,iPhone,0.0,2,False,100.0
2014-01-25,2.70,1.0,5.0,1.00,Astapor,2014-01-26,iPhone,0.0,1,False,0.0
2014-01-25,9.90,5.0,5.0,1.00,Astapor,2014-01-26,iPhone,0.0,1,True,0.0
2014-01-26,9.72,5.0,5.0,1.00,King's Landing,2014-03-21,iPhone,0.0,0,True,100.0
2014-01-25,4.28,5.0,5.0,1.00,Winterfell,2014-05-13,Android,0.0,0,True,100.0
2014-01-27,4.18,4.8,5.0,1.00,Astapor,2014-03-12,iPhone,0.0,4,False,100.0
2014-01-25,1.33,5.0,5.0,1.00,Astapor,2014-01-26,Android,0.0,1,True,0.0
2014-01-27,4.52,4.4,5.0,1.11,Winterfell,2014-06-28,iPhone,11.1,3,True,77.8
2014-01-26,1.00,4.6,3.7,1.00,Astapor,2014-05-30,Android,0.0,0,False,100.0
2014-01-25,3.30,5.0,4.9,1.01,Astapor,2014-05-19,iPhone,4.3,10,False,87.0
2014-01-25,3.61,4.8,5.0,1.03,Astapor,2014-06-24,iPhone,12.5,3,False,100.0
2014-01-27,4.66,5.0,NaN,1.00,Astapor,2014-01-29,iPhone,0.0,1,True,100.0
2014-01-25,4.68,5.0,5.0,1.00,King's Landing,2014-03-15,iPhone,0.0,0,False,0.0
2014-01-25,14.09,5.0,4.7,1.00,King's Landing,2014-02-12,iPhone,0.0,4,False,100.0
2014-01-25,8.13,5.0,NaN,1.00,Winterfell,2014-06-12,iPhone,0.0,2,False,100.0
2014-01-26,5.49,5.0,4.0,1.00,Astapor,2014-03-16,iPhone,0.0,0,True,0.0
2014-01-27,30.39,5.0,1.0,1.00,Winterfell,2014-02-26,Android,0.0,1,False,100.0
2014-01-26,3.50,5.0,NaN,1.00,Winterfell,2014-01-26,Android,0.0,1,False,0.0
2014-01-26,1.38,5.0,NaN,1.00,Astapor,2014-02-25,Android,0.0,1,False,100.0
2014-01-27,4.24,4.0,4.6,1.00,Winterfell,2014-05-31,iPhone,0.0,3,False,80.0
2014-01-25,5.63,4.2,5.0,1.00,King's Landing,2014-06-05,iPhone,0.0,0,False,100.0

In [83]:
churn_data.reset_index()

,signup_date,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,2014-01-25,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,15.4,4,True,46.2
1,2014-01-29,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,0.0,0,False,50.0
2,2014-01-06,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,0.0,3,False,100.0
3,2014-01-10,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,20.0,9,True,80.0
4,2014-01-27,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,11.8,14,False,82.4
5,2014-01-09,10.56,5.0,3.5,1.00,Winterfell,2014-06-06,iPhone,0.0,2,True,100.0
6,2014-01-24,3.95,4.0,NaN,1.00,Astapor,2014-01-25,Android,0.0,1,False,100.0
7,2014-01-28,2.04,5.0,5.0,1.00,Winterfell,2014-01-29,iPhone,0.0,2,False,100.0
8,2014-01-21,4.36,5.0,4.5,1.00,Winterfell,2014-02-01,Android,0.0,2,False,100.0
9,2014-01-03,2.37,5.0,NaN,1.00,Winterfell,2014-01-05,Android,0.0,1,False,0.0
10,2014-01-13,4.28,4.9,5.0,1.00,Winterfell,2014-05-30,iPhone,0.0,1,True,100.0
11,2014-01-06,3.81,5.0,4.0,1.00,Winterfell,2014-01-10,iPhone,0.0,3,False,100.0
12,2014-01-15,20.29,5.0,NaN,1.00,Winterfell,2014-03-12,iPhone,0.0,1,False,100.0
13,2014-01-29,3.04,5.0,4.0,1.38,King's Landing,2014-06-08,iPhone,50.0,0,False,50.0
14,2014-01-27,26.01,5.0,NaN,1.00,Astapor,2014-01-28,Android,0.0,1,False,100.0
15,2014-01-15,13.20,5.0,NaN,1.00,Winterfell,2014-01-16,Android,0.0,1,True,100.0
16,2014-01-11,10.86,3.0,5.0,1.00,King's Landing,2014-06-28,Android,0.0,1,True,50.0
17,2014-01-12,2.38,4.8,3.9,1.00,King's Landing,2014-07-01,iPhone,0.0,0,True,95.2
18,2014-01-28,6.83,4.8,4.6,1.21,King's Landing,2014-06-24,iPhone,30.8,6,True,80.8
19,2014-01-02,12.08,5.0,5.0,1.17,King's Landing,2014-06-03,iPhone,33.3,0,False,66.7
20,2014-01-31,2.53,3.0,NaN,1.00,Winterfell,2014-03-16,Android,0.0,1,False,50.0
21,2014-01-09,3.31,5.0,NaN,1.00,Astapor,2014-04-29,iPhone,0.0,1,False,100.0
22,2014-01-24,11.47,5.0,NaN,1.00,Winterfell,2014-05-02,iPhone,0.0,0,False,100.0
23,2014-01-21,7.74,5.0,5.0,1.00,King's Landing,2014-06-13,Android,0.0,0,True,100.0
24,2014-01-19,2.10,4.7,4.5,1.02,Astapor,2014-05-18,iPhone,9.1,4,False,36.4
25,2014-01-02,14.48,5.0,NaN,1.00,Winterfell,2014-01-03,iPhone,0.0,1,True,100.0
26,2014-01-16,1.66,5.0,4.0,1.00,Astapor,2014-01-22,Android,0.0,1,False,100.0
27,2014-01-19,3.05,5.0,5.0,1.05,Winterfell,2014-03-05,iPhone,20.0,3,False,100.0
28,2014-01-19,5.97,5.0,NaN,1.50,Winterfell,2014-06-08,iPhone,100.0,0,False,0.0
29,2014-01-27,11.25,5.0,4.0,1.00,Astapor,2014-02-27,Android,0.0,1,False,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2014-01-16,5.62,5.0,4.3,1.00,Winterfell,2014-04-14,iPhone,0.0,2,False,0.0
49971,2014-01-12,4.69,5.0,NaN,1.00,King's Landing,2014-06-14,iPhone,0.0,0,True,100.0
49972,2014-01-12,4.60,3.5,4.0,1.25,Winterfell,2014-06-29,iPhone,50.0,1,False,0.0
49973,2014-01-01,4.07,5.0,4.0,1.00,Astapor,2014-06-28,iPhone,0.0,2,True,25.0
49974,2014-01-05,4.63,5.0,5.0,2.00,Winterfell,2014-01-18,iPhone,100.0,1,False,100.0
49975,2014-01-11,2.18,4.8,3.9,1.03,Winterfell,2014-06-18,iPhone,4.1,11,False,91.8
49976,2014-01-21,2.39,4.0,2.0,1.00,King's Landing,2014-07-01,iPhone,0.0,0,False,100.0
49977,2014-01-06,8.71,5.0,5.0,1.00,Astapor,2014-01-09,Android,0.0,4,False,100.0
49978,2014-01-17,6.02,5.0,4.5,1.00,Winterfell,2014-05-03,Android,0.0,1,False,50.0
49979,2014-01-24,3.81,4.8,4.0,1.00,Winterfell,2014-04-07,Android,0.0,0,True,50.0
49980,2014-01-05,14.42,5.0,NaN,1.00,Astapor,2014-01-20,Android,0.0,1,False,100.0
49981,2014-01-26,5.49,5.0,4.0,1.00,Astapor,2014-03-16,iPhone,0.0,0,True,0.0
49982,2014-01-21,15.23,5.0,5.0,1.00,King's Landing,2014-04-24,iPhone,0.0,0,False,100.0
49983,2014-01-27,30.39,5.0,1.0,1.00,Winterfell,2014-02-26,Android,0.0,1,False,100.0
49984,2014-01-26,3.50,5.0,NaN,1.00,Winterfell,2014-01-26,Android,0.0,1,False,0.0
49985,2014-01-26,1.38,5.0,NaN,1.00,Astapor,2014-02-25,Android,0.0,1,False,100.0
49986,2014-01-21,0.52,5.0,4.0,1.00,Winterfell,2014-05-23,Android,0.0,0,False,100.0
49987,2014-01-27,4.24,4.0,4.6,1.00,Winterfell,2014-05-31,iPhone,0.0,3,False,80.0
49988,2014-01-20,2.53,5.0,4.5,1.00,King's Landing,2014-06-14,iPhone,0.0,1,False,50.0
49989,2014-01-24,0.00,5.0,NaN,1.00,Winterfell,2014-01-31,iPhone,0.0,1,False,100.0
49990,2014-01-13,3.38,5.0,4.7,1.08,Astapor,2014-05-18,iPhone,33.3,1,True,33.3
49991,2014-01-08,1.06,5.0,5.0,1.25,Winterfell,2014-06-29,iPhone,100.0,0,False,0.0
49992,2014-01-18,7.58,5.0,1.0,1.00,King's Landing,2014-01-19,iPhone,0.0,1,False,0.0
49993,2014-01-03,2.53,4.7,4.8,1.11,Astapor,2014-07-01,iPhone,11.1,3,True,55.6
49994,2014-01-03,2.25,4.5,4.6,1.44,Astapor,2014-05-31,iPhone,37.5,1,False,25.0
49995,2014-01-25,5.63,4.2,5.0,1.00,King's Landing,2014-06-05,iPhone,0.0,0,False,100.0
49996,2014-01-24,0.00,4.0,NaN,1.00,Astapor,2014-01-25,iPhone,0.0,1,False,0.0
49997,2014-01-31,3.86,5.0,5.0,1.00,Winterfell,2014-05-22,Android,0.0,0,True,100.0
49998,2014-01-14,4.58,3.5,3.0,1.00,Astapor,2014-01-15,iPhone,0.0,2,False,100.0
49999,2014-01-18,3.49,5.0,NaN,1.00,Astapor,2014-04-20,Android,0.0,0,False,0.0

In [85]:
churn_data.set_index('last_trip_date', inplace=True)

In [86]:
churn_data.index

DatetimeIndex(['2014-06-17', '2014-05-05', '2014-01-07', '2014-06-29',
               '2014-03-15', '2014-06-06', '2014-01-25', '2014-01-29',
               '2014-02-01', '2014-01-05',
               ...
               '2014-05-18', '2014-06-29', '2014-01-19', '2014-07-01',
               '2014-05-31', '2014-06-05', '2014-01-25', '2014-05-22',
               '2014-01-15', '2014-04-20'],
              dtype='datetime64[ns]', name='last_trip_date', length=50000, freq=None)

In [87]:
churn_data['2014-06-17']

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,phone,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
last_trip_date,,,,,,,,,,
2014-06-17,3.67,5.0,4.7,1.10,King's Landing,iPhone,15.4,4,True,46.2
2014-06-17,2.61,4.8,3.9,1.09,Astapor,iPhone,10.5,5,True,63.2
2014-06-17,3.81,5.0,4.7,1.00,King's Landing,iPhone,0.0,1,True,100.0
2014-06-17,5.45,5.0,NaN,1.00,Astapor,iPhone,0.0,0,False,100.0
2014-06-17,3.96,4.7,4.6,1.00,Astapor,iPhone,0.0,1,True,85.7
2014-06-17,1.58,5.0,5.0,1.00,King's Landing,iPhone,0.0,1,True,100.0
2014-06-17,5.58,5.0,4.5,1.00,Astapor,Android,0.0,2,True,85.7
2014-06-17,7.93,4.7,4.2,1.17,Winterfell,iPhone,8.3,0,True,58.3
2014-06-17,5.84,4.8,3.9,1.00,Astapor,iPhone,0.0,8,True,85.7
2014-06-17,23.98,5.0,4.0,1.00,King's Landing,iPhone,0.0,0,True,100.0
2014-06-17,2.05,4.8,4.6,1.02,Winterfell,iPhone,8.3,4,False,83.3
2014-06-17,31.66,5.0,4.7,1.00,King's Landing,NaN,0.0,2,False,100.0
2014-06-17,1.96,4.9,4.6,1.02,King's Landing,iPhone,5.0,4,False,100.0
2014-06-17,8.95,5.0,2.0,1.00,King's Landing,iPhone,0.0,2,False,100.0
2014-06-17,3.19,5.0,5.0,1.31,King's Landing,iPhone,50.0,0,False,50.0
2014-06-17,4.80,5.0,3.7,1.00,King's Landing,iPhone,0.0,2,False,100.0
2014-06-17,4.12,5.0,5.0,1.00,Astapor,iPhone,0.0,0,False,100.0
2014-06-17,4.41,4.7,4.3,1.00,Winterfell,iPhone,0.0,6,True,81.3
2014-06-17,8.94,5.0,5.0,1.00,King's Landing,iPhone,0.0,2,True,66.7
2014-06-17,3.29,5.0,3.5,1.00,King's Landing,iPhone,0.0,0,False,100.0
2014-06-17,4.89,5.0,4.9,1.05,King's Landing,iPhone,13.3,0,True,66.7
2014-06-17,5.89,4.3,5.0,1.00,Winterfell,iPhone,0.0,2,False,100.0
2014-06-17,11.13,4.8,4.9,1.00,King's Landing,iPhone,0.0,0,False,70.0
2014-06-17,14.75,5.0,5.0,1.00,Winterfell,iPhone,0.0,0,False,100.0
2014-06-17,2.79,5.0,3.5,2.25,Astapor,iPhone,100.0,0,False,100.0
2014-06-17,19.61,5.0,NaN,1.00,Winterfell,iPhone,0.0,0,False,100.0
2014-06-17,4.80,4.6,5.0,1.00,Astapor,iPhone,0.0,4,True,100.0
2014-06-17,5.09,5.0,5.0,1.00,King's Landing,Android,0.0,0,False,20.0
2014-06-17,1.57,4.6,4.0,1.00,Winterfell,iPhone,0.0,3,True,79.3
2014-06-17,1.64,5.0,4.9,1.08,King's Landing,iPhone,11.1,0,False,77.8
...,...,...,...,...,...,...,...,...,...,...
2014-06-17,8.35,5.0,4.3,1.00,Winterfell,iPhone,0.0,0,True,80.0
2014-06-17,2.96,4.4,4.3,1.03,Winterfell,iPhone,5.9,7,False,41.2
2014-06-17,10.65,4.7,5.0,1.07,King's Landing,iPhone,14.3,2,False,85.7
2014-06-17,2.22,4.6,4.7,1.00,Astapor,iPhone,0.0,0,False,64.0
2014-06-17,5.90,5.0,5.0,1.00,Astapor,iPhone,0.0,2,True,100.0
2014-06-17,1.99,3.7,NaN,1.00,Winterfell,iPhone,0.0,1,False,66.7
2014-06-17,4.93,5.0,4.0,1.00,Winterfell,iPhone,0.0,1,True,66.7
2014-06-17,0.90,5.0,4.5,1.00,King's Landing,Android,0.0,0,False,100.0
2014-06-17,5.33,5.0,5.0,1.00,King's Landing,iPhone,0.0,1,False,100.0
2014-06-17,2.29,4.7,4.6,1.00,King's Landing,Android,0.0,0,True,75.0
2014-06-17,6.91,3.8,4.8,1.00,Winterfell,iPhone,0.0,3,False,50.0
2014-06-17,3.59,5.0,NaN,1.00,King's Landing,iPhone,0.0,0,True,100.0
2014-06-17,13.79,5.0,4.2,1.00,Winterfell,iPhone,0.0,1,False,100.0
2014-06-17,4.72,5.0,5.0,1.00,Astapor,iPhone,0.0,2,True,33.3
2014-06-17,4.62,5.0,NaN,1.00,King's Landing,Android,0.0,1,True,100.0
2014-06-17,2.89,4.5,4.7,1.16,King's Landing,iPhone,14.8,8,False,63.0
2014-06-17,13.35,5.0,NaN,1.00,Winterfell,iPhone,0.0,0,True,100.0
2014-06-17,12.70,4.4,NaN,1.00,Winterfell,iPhone,0.0,3,True,88.9
2014-06-17,18.43,5.0,4.5,1.00,Winterfell,iPhone,0.0,0,True,50.0
2014-06-17,21.90,5.0,5.0,1.00,King's Landing,iPhone,0.0,1,False,100.0
2014-06-17,1.76,4.8,3.9,1.02,Astapor,iPhone,2.3,6,False,69.8
2014-06-17,3.87,4.5,5.0,1.00,Winterfell,iPhone,0.0,1,False,37.5
2014-06-17,5.62,4.5,5.0,1.00,Astapor,iPhone,0.0,2,False,100.0
2014-06-17,3.32,5.0,4.3,1.00,Winterfell,iPhone,0.0,4,False,37.5
2014-06-17,3.21,4.8,4.7,1.01,King's Landing,Android,2.3,7,True,50.0
2014-06-17,5.41,5.0,5.0,1.00,Winterfell,Android,0.0,1,True,100.0
2014-06-17,9.19,5.0,5.0,1.00,King's Landing,iPhone,0.0,2,False,25.0
2014-06-17,8.24,5.0,4.8,1.00,King's Landing,iPhone,0.0,4,True,50.0
2014-06-17,2.39,3.7,4.9,1.00,Winterfell,iPhone,0.0,7,False,33.3
2014-06-17,5.36,5.0,4.8,1.13,King's Landing,iPhone,25.0,0,False,50.0

In [89]:
churn_data['last_trip_date'] = churn_data.index

In [94]:
date = pd.to_datetime("25th of Feb, 2020")

In [95]:
date

Timestamp('2020-02-25 00:00:00')

In [98]:
pd.Series(range(3), index=pd.date_range('2000', freq='D', periods=3))

2000-01-01    0
2000-01-02    1
2000-01-03    2
Freq: D, dtype: int64

### Exercises

In [100]:
human_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/adult.data.txt')

In [ ]:
human_data = pd.read_csv('..')